@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family:'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* -------------------- Global variable for the colors -------------------- */
:root {
	--main-color : red;
	--text-color: black;
	--bg-color: #fff;
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --pink:#e84393;
    --border-radius: 4px;
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border-hover:.1rem solid var(--black);
}

html{
    font-size: 86.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

img{
	width: 100%;
}

body{
    color: var(--text-color);
}

.container{

    margin-left: auto;
    margin-right: auto;

}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background: black;
    box-shadow: 2px 4px 4px rgb(15 54 55 /20%);
    transition: 1.5s;
}
/* -------------------- END -------------------- */

/* -------------------- Nav bar -------------------- */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;

}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: none;
}


.logo{
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;

}

.navbar a{
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
/* -------------------- END -------------------- */

/* -------------------- Homepage Banner -------------------- */
.home{
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url('./images//Valorant-ss-scaled-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text {
    padding-left: 30px;
    color: var(--bg-color);
}

.hometext h1 {
    font-size: 3.4rem;
}

.home-text p {
    font-size: 1.3rem;
    font-weight: 800;
    margin: 0.5rem 0 1.2rem;
    color: white;
}
/* -------------------- END -------------------- */

/* -------------------- Lottie Animation -------------------- */
#headerWithLottie {
    display: flex;
    align-items: center;
}

#lottieAnimation {
    display: inline-block;
    vertical-align: middle;
}

#lottieAnimation h3 {
    display: inline-block;
    vertical-align: middle;
 }
 /* -------------------- END -------------------- */

/* -------------------- Login button -------------------- */
.btn:hover{
    background:var(--yellow);
}

/* Login form container */
#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color: lightyellow;
}

.btn{
    display: inline-block;
    margin-top: 0px;
    padding:.8rem 3rem;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.header.active{
    padding:2rem 9%;
    box-shadow: var(--box-shadow);
}

.loginAlert {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: green;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* -------------------- END -------------------- */

#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

/* -------------------- Login Form -------------------- */
.login-form-container{
    position: fixed;
    top: -110%; left:0;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:2rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 85%;
}

.login-form-container #close-login-form{
    position: relative;
    top: -8rem; left: 49rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.btnss{
    display: inline-block;
    margin-top: 0px;
    padding:.8rem 3rem;
    background: var(--green);
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btnss:hover{
    background: var(--color-primary-dark);
}

.btn:hover{
    background:yellow;
}
/* -------------------- END -------------------- */

/* -------------------- Login Pages  -------------------- */
.logincontainer {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.logincontainer,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form__button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height: 5rem;
    width: 10rem;
}

/* -------------------- About Us -------------------- */
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid var(--black);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(200%);
    font-size: 2rem;
    background:#fff;
    width:100%;
    padding:0.4rem 0.8rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 2.5rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
/* -------------------- END -------------------- */

/* -------------------- Icons Section -------------------- */
.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding: 1.3rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    width: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1rem;
}

.btns{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.6rem 2.5rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.btns:hover{
    background:var(--pink);
}
/* -------------------- END -------------------- */

/* -------------------- Subscribe page -------------------- */
.newsletter{
    background:url(https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/VAL_2560x1440-a875b64f871200771ee9397df1d7050b) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 35rem;
    margin-left: auto;
    text-align: center;
    padding:3rem 0;
}

.newsletter form h3{
    font-size: 1.8rem;
    color:#fff;
    padding-bottom: .4rem;
    font-weight: normal;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding:1rem 1.2rem;
    font-size: 1.2rem;
    color:var(--black);
    border-radius: .9rem;
    text-transform: none;
}
/* -------------------- END -------------------- */

/* -------------------- Reviews -------------------- */
.headings{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.headings::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.headings span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    width: 50rem;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}
/* -------------------- END -------------------- */

/* -------------------- About Coaches Section -------------------- */
.section-3{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/Valorant-ss-scaled-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-3 h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 800;
}

.section-3-wrapper{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.feedback{
    width: 250px;
    height: 300px;
    background: url(./images/vernon.jpg);
    background-position: center;
    background-size: cover;
 
}

.feedback-desc{
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px;
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
    
}

.feedback-desc .far{
    color: #FEC53A;
    font-size: 50px;
}

.f-img-2{
    background: url(./images/joshua.jpg);
    background-position: center;
    background-size: cover;
}
/* -------------------- END -------------------- */

/* -------------------- Contact us page -------------------- */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    height: 50rem;
}

.contact .row form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;

}

.contact .row form h3{
    font-size: 3rem;
    color:var(--black);
    padding-bottom: 1rem;
}

.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}

.contactheadings{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color:var(--black);
}
/* -------------------- END -------------------- */

/* -------------------- Booking Form -------------------- */
#book-btn .btnss{
    margin-top: 0;
}

#book-btn i{
    display: none;
    font-size: 2.5rem;
    color: lightyellow;
}

.book-form-container{
    position: fixed;
    top:-105%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.book-form-container.active{
    top:0;
}

.book-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.book-form-container form .buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}

.book-form-container form .btnss{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.book-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 85%;
}

.book-form-container #close-book-form{
    position: relative;
    top: -14rem; left: 40rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.book-form-container form h3{
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}
/* -------------------- END -------------------- */

/* -------------------- Footer -------------------- */
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
    width: 60%;
}

.inner-footer {
    margin: 0;
    padding: 0;
    background-color: black;
}

.social-links{
    display: flex;
}

.social-links ul{
    padding: 10px;
    display: flex;
    width: 400px;
    height: 80px;
    margin: auto;
}

.social-items{
    list-style:none;
}

.social-items a{
    padding: 10px 30px;
    font-size: 40px;
    color: white;
}

.social-items a:hover{
    color: red;
}

.outer-footer{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #191919;
}
/* -------------------- END -------------------- */

/* -------------------- Media Queries -------------------- */
@media (max-width:1280px){
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
    .home{
        background-position: left;
    }
}
@media (max-width: 1080px ) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}



@media (max-width: 991px) {
    .nav {
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home.text {
        padding-left: 2rem;
    }
    .home.text h1{
        font-size: 2.1rem;
    }

}

@media (max-width: 968px){
    .nav {
        padding: 10px 0;
    }
    #menu-icon {
        display: initial;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: black;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 /20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }
    .navbar a {
        display: block;
        padding: 15px;
    }
    .navbar a:hover,
    .navbar.active{
        border-bottom: none;
        background: black;
        color: var(--bg-color);
    }
    .navbar.active{
        clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box {
        padding: 4px;
    }

}

@media (max-width: 360px) {
    .home {
        min-height: 500px;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .home-text p br{
        display: contents;
    }
}

@media (max-width: 968px) {


    .section-3-wrapper{
        flex-direction: column;

    }

    .feedback{
        width: 350px;
        height: 150px;
        margin-top: 10px;
    }
    .feedback-desc{
        width: 350px;
        height: 140px;
        font-size: 9.5px;
        margin-right: 0px;
        

    }
    .feedback-desc .far{

        font-size: 25px;
    }
}



@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }

}
/* -------------------- END -------------------- */