@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family:'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
/* global variable for the colors */
:root {
	--main-color : red;
	--text-color: black;
	--bg-color: #fff;
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
    
}

section{
    padding: 4rem 0 2rem;
}

img{
	width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;

}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: black;
    box-shadow: 2px 4px 4px rgb(15 54 55 /20%);
    transition: 1.5s;
}
/* nav bar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;

}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: none;
}

.logo{
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
}
.logo span {
    color: var(--main-color);
}
.navbar {
    display: flex;
    column-gap: 2rem;

}

.navbar a{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url('./images/valorant_coaching_1635684898_09cd9d04_progressive.jpg');;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text {
    padding-left: 30px;
    color: var(--bg-color);
}

.hometext h1{
    font-size: 2.4rem;
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 800;
    margin: 0.5rem 0 1.2rem;
    color: white;
}



.btn:hover{
    background:var(--yellow);
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color: lightyellow;
}

.btn{
    display: inline-block;
    margin-top: 0px;
    padding:.8rem 3rem;
    background: lightyellow;
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 991px){
    html{
        font-size: 80%;
    }
    .header {
        padding: 2rem;
    }
    .header.active{
        padding: 2rem;
    }
    .section {
        padding: 2rem;
    }
}
@media (max-width: 1080px ) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 991px) {
    .nav {
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home.text {
        padding-left: 2rem;
    }
    .home.text h1{
        font-size: 2.1rem;
    }
}

@media (max-width: 768px){
    .nav {
        padding: 10px 0;
    }
    #menu-icon {
        display: initial;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: black;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 /20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }
    .navbar a {
        display: block;
        padding: 15px;
    }
    .navbar a:hover,
    .navbar.active{
        border-bottom: none;
        background: black;
        color: var(--bg-color);
    }
    .navbar.active{
        clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box {
        padding: 4px;
    }
}
