@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family:'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
/* global variable for the colors */
:root {
	--main-color : red;
	--text-color: black;
	--bg-color: #fff;
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
    
}

section{
    padding: 4rem 0 2rem;
}

img{
	width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;

}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: black;
    box-shadow: 2px 4px 4px rgb(15 54 55 /20%);
    transition: 1.5s;
}
/* nav bar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;

}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    display: none;
}



.logo{
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
}
.logo span {
    color: var(--main-color);
}
.navbar {
    display: flex;
    column-gap: 2rem;

}

.navbar a{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url('./images/valorant_coaching_1635684898_09cd9d04_progressive.jpg');;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text {
    padding-left: 30px;
    color: var(--bg-color);
}

.hometext h1{
    font-size: 2.4rem;
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 800;
    margin: 0.5rem 0 1.2rem;
    color: white;
}



.btn:hover{
    background:var(--yellow);
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color: lightyellow;
}

.btn{
    display: inline-block;
    margin-top: 0px;
    padding:.8rem 3rem;
    background: lightyellow;
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.header.active{
    padding:2rem 9%;
    box-shadow: var(--box-shadow);
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

.login-form-container{
    position: fixed;
    top: -110%; left:0;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 85%;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--yellow);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}
.btn{
    display: inline-block;
    margin-top: 0px;
    padding:.8rem 3rem;
    background: lightyellow;
    color: black;
    cursor: pointer;
    font-size: 15px;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:yellow;
}
